body{font-family: 'Raleway', sans-serif !important;}
.line-not{vertical-align: text-bottom;}
img{ width: 100%;}
p{color: #888; line-height: 24px;}
.light-bg{background:#eee;}
.my-padding-s{padding: 20px 0px;}
.first-header{position: absolute; width: 100%; top: 0; left: 0; z-index: 999;}
.logo img{width: 100px;} 
.slider:after{content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.65);}
.slide-para {position: absolute; width: 100%; top: 40%;  text-align: center; color: #fff; z-index: 9;}
.slide-para h3{font-size: 56px; font-weight: 600;}
.slide-para p{font-size: 18px;}
.active-menu{display: none; position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.65); top: 0; left: 0; z-index: 99;}
/*icon-section*/
.icon{display: none; position: absolute; top:-10px;right: 0%; cursor: pointer; width: 40px;height: 40px;  transition: 0.5s; background: #2c3e50; border-radius: 5px;}
.icon .icon-type{ position: absolute; top: 20px; right: -10px; transform:translate(-50%,-50%); width:30px; height:4px; border-radius: 2px; background: #fff;box-shadow: 0 2px 5px rgba(0,0,0,0.6);}
.icon .icon-type:after,.icon .icon-type:before{content: ''; position: absolute; border-radius: 2px; width: 30px; left: 0; height: 4px; background: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.6); transition: 0.5s;}
.icon .icon-type:after{ top: 10px; }
.icon .icon-type:before{ top: -10px; }
.icon.active .icon-type{background: rgba(0,0,0,0); box-shadow:0 0 0 0; border-radius: 0;} 
.icon.active .icon-type:after{transform: rotate(45deg); top: 0;}
.icon.active .icon-type:before{transform: rotate(135deg); top: 0;}
/*index-section*/
.my-heading h3{font-size: 40px; font-weight: 600; text-align: center; margin-bottom: 20px;}
.my-heading p{text-align: center;}
.our-program{background:#fff; overflow: hidden; box-shadow:0px 0px 15px #d7d4d4;}
.our-program:after{content: '';position: absolute; width: 100%; height: 100%; top: 0; left: -99%; background: rgba(236,167,47,1); -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -ms-transition:all 0.4s ease; -o-transition:all 0.4s ease; transition:all 0.4s ease;}
.our-program:hover:after{left: 0;}
.our-program:hover{color: #fff !important;}
.our-program:hover p{color: #fff !important;}
.courses a{color:#777; margin-top: 8px; display: inline-block;}
.back-one{background:url(../images/backs1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; position: absolute;top: 0; left: 0; width:50%; height: 100%;}
.my-box-padding{padding: 133px 0px 133px 50px;}

.back-two{background:url(../images/backs2.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; position: absolute;top: 0; right: 0; width:50%; height: 100%;}
.my-box-two-padding{padding: 133px 50px 133px 0px;}

.event-box:hover{margin-top: -5px;}
.event-box:before{content: ''; position: absolute; width: 100%; height: 100%; border-radius: 4px; z-index: 1; top: 0; left: 0; background:linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0,0,0,0) 72%);}
.event-para{position: absolute; width: 100%; bottom: 0; left: 24px; z-index: 2; color: #fff;}
.event-para h3{margin-bottom: 15px;}
.event-para i{margin:0px; opacity: 0;-webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -ms-transition:all 0.4s ease; -o-transition:all 0.4s ease; transition:all 0.4s ease;}
.event-box:hover .event-para i{margin:20px 0px; opacity: 1;-webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -ms-transition:all 0.4s ease; -o-transition:all 0.4s ease; transition:all 0.4s ease;}